:root {
  /* Primary / Main Colors */
  --color-primary: #0022ce;
  --color-primary-hover: #001bb5;
  --color-secondary: #00aaff;
  --color-success: #22ce22;
  --color-warning: #ff9900;

  /* Text Colors */
  --color-text: #000000;
  --color-text-light: #ffffff;

  /* Backgrounds */
  --color-bg: #ffffff;
  --color-bg-card: #ffffff;

  /* Borders */
  --color-border: rgba(0, 0, 0, 0.25);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

.spacer {
  width: 78.79px;
  height: 10px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/hero-image.png");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 26px;
  padding: 40px;
  padding-bottom: 80px;
}

.hero h1 {
  color: var(--color-text-light);
  font-size: 28px;
  font-weight: 700;
}

.hero h4 {
  color: var(--color-text-light);
  font-size: 16px;
  font-weight: 400;
}

.button {
  background-color: var(--color-primary);
  border-radius: 12px;
  padding: 16px 32px;
  color: var(--color-text-light);
  border: none;
  cursor: pointer;
  margin-inline: auto;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 92px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.about-us p {
  max-width: 550px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-text);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.card {
  padding-bottom: 28px;
  background-color: var(--color-bg-card);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
}

.card_image {
  width: 100%;
}

.card_title {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-text);
  text-align: center;
}

.card_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.headermargin {
  margin-top: 88px;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.cars-page {
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
  gap: 48px;
}

@media (max-width: 400px) {
  .cards-container {
    display: flex !important;
    flex-direction: column;
  }

  .hero {
    height: auto;
    padding-bottom: 40px;
    margin-top: 80px;
    text-align: center;
  }

  button {
    padding: 8px 16px;
  }
}

@media (min-width: 400px) {
  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  .cars-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
